{%- include templates/leads/baseline.liquid -%}
```tip
{% hello inherited by %} <a href="{{ item_baseline | prepend:"https://" | append: ".github.io/" }}">the spin</a>
```
{%- include common/core/list.liquid -%}
